.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.box-row {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.box {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px gainsboro ;
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.widget-container {
  margin: auto;
}

.stopwatch .buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
}

.stopwatch .buttons button {
  width: 120px;
}


.game {
  display: flex;
  align-items: center;
}
.game-info {
  height: 260px;
}
.game-info button {
  height: 20px;
  font-size: small;
  display: flex;
  align-items: center;
  margin: 4px;
}
.game .status {
  margin-left: 10px;
}
.board-row {
  display: flex;
  flex-direction: row;
}

.directory-container {
  font-size: larger;
}
.directory-container .title {
  display: flex;
  align-items: center;
}

.folder .content {
  margin-left: 15px;
  opacity: 80%;
}
.add-item {
  font-weight: lighter;
}
.add-item input {
  width: 100px;
  overflow: auto;
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  outline: none;
}

.carousel-container .section {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-evenly ;
  height: 30px;
  position: absolute;
  bottom: 40px;
  width: 400px;
}

.indicator {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #e5eced;
}
.indicator.active {
  background-color: #b4babb;
}
